<template>
  <div class="node">
    <el-tree show-checkbox ref="tree" node-key="pid"
      :data="data"
      :props="defaultProps"
      :default-checked-keys="defaultCheckedKeys"
      @check-change="handleCheckChange">
    </el-tree>
  </div>
</template>

<script>
export default {
  name: 'node',
  data () {
    return {
      data: [],
      defaultCheckedKeys: [],
      defaultProps: {
        children: 'children',
        label: 'pname'
      }
    }
  },
  methods: {
    handleCheckChange (data, checked, indeterminate) {
      console.info(this.$refs.tree.getCheckedKeys())
      // console.log(data)
    },
    handleNodeClick (data, node, self) {
      // console.log(node)
    }
  },
  mounted () {
    /* eslint-disable */
    var json = {"roleList":[{"pid":1,"pname":"企业管理","ppid":0,"checked": true
},{"pid":2,"pname":"企业列表","purl":"","ppid":1},{"pid":3,"pname":"授信管理","purl":"","ppid":1},{"pid":4,"pname":"企业平台账号","purl":"","ppid":1},{"pid":5,"pname":"产品管理","ppid":0},{"pid":6,"pname":"合同管理","ppid":0},{"pid":7,"pname":"新建关联","ppid":6},null,{"pid":8,"pname":"合同查询","purl":"","ppid":6},{"pid":9,"pname":"融资管理","purl":"","ppid":0},{"pid":10,"pname":"待审核融资","purl":"","ppid":9},{"pid":12,"pname":"已审核融资","purl":"","ppid":9},{"pid":13,"pname":"放款管理","purl":"","ppid":0},{"pid":14,"pname":"贷后管理","purl":"","ppid":0},{"pid":15,"pname":"还款管理","purl":"","ppid":14},{"pid":16,"pname":"发票冲销","purl":"","ppid":14}]}

    /* eslint-enable */
    var pData = []
    var ppData = []
    var checkedData = []
    var roleList = json.roleList
    roleList.forEach(function (role) {
      if (role == null) {
        return
      }
      if (role.ppid === 0) {
        pData.push(role)    /* 将父节点放到pData中 */
        ppData[role.pid] = [] /* 以父节点ID定义用来存储子节点的空数组ppData */
      } else {
        ppData[role.ppid].push(role) /* 将子节点存到ppData中 */
      }

      if (role.checked) {
        checkedData.push(role.pid)
      }
    })
    console.log(pData)
    console.log(ppData)

    pData.forEach(function (role) {
      role.children = ppData[role.pid]
    })
    this.data = pData
    this.defaultCheckedKeys = checkedData
    console.log(pData)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
