<template>
  <div id="role">
    <el-row id="breadcrumb">
      <el-col :span="20">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item>角色列表</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
      <el-col :span="4">
        <router-link :to="{path:'/sms/role/add'}" tag="div">
          <el-button type="primary" style="float: right">添加角色</el-button>
        </router-link>
      </el-col>
    </el-row>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="id" label="序号" width="66" align="center"></el-table-column>
      <el-table-column prop="name" label="角色名称" align="left"></el-table-column>
      <el-table-column prop="ctime" label="创建时间" width="240" align="left"></el-table-column>
      <el-table-column inline-template :context="_self" align="left" label="操作" width="120">
        <el-button @click="deleteRow($index, row, tableData)" type="text" size="small">移除</el-button>
    </el-table-column>

    </el-table>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        tableData: [{
          id: 1,
          name: '超级管理员',
          ctime: '2016-05-04'
        }, {
          id: 2,
          name: '管理员',
          ctime: '2016-05-04'
        }, {
          id: 3,
          name: '客服',
          ctime: '2016-05-04'
        }]
      }
    },
    methods: {
      deleteRow (index, row, data) {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          console.log('删除id为：' + row.id + '的数据')
          data.splice(index, 1)
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      }
    }
  }
</script>

<style type="text/css">
  #breadcrumb{
    margin: 20px;
    font-size: 18px;
    line-height: 22px;
  }
</style>