<template>
  <div class="node">
    <el-row id="breadcrumb">
      <el-col :span="20">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/sms/role' }">角色列表</el-breadcrumb-item>
          <el-breadcrumb-item v-if="action == 'add'">添加角色</el-breadcrumb-item>
          <el-breadcrumb-item v-if="action == 'update'">修改角色</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
      <el-col :span="4">
        <router-link :to="{path:'/sms/role'}" tag="div">
          <el-button type="primary" style="float: right">返回</el-button>
        </router-link>
      </el-col>
    </el-row>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="角色名称" prop="name">
        <el-input v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="可用权限">
        <el-tree v-model="ruleForm.role" show-checkbox ref="tree" node-key="pid" style="text-align: left"
          :data="data"
          :props="defaultProps"
          :default-checked-keys="defaultCheckedKeys"
          @check-change="handleCheckChange">
        </el-tree>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleSubmit">立即创建</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'node',
  data () {
    return {
      ruleForm: {
        name: '',
        type: []
      },
      rules: {
        name: [
          { required: true, message: '请输入角色名称', trigger: 'blur' },
          { min: 3, max: 8, message: '长度在 3 到 8 个字符', trigger: 'blur' }
        ]
      },
      data: [],
      defaultCheckedKeys: [],
      defaultProps: {
        children: 'children',
        label: 'pname'
      },
      action: 'add'
    }
  },
  methods: {
    handleReset () {
      this.$refs.ruleForm.resetFields()
    },
    handleSubmit (ev) {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          console.info(this.$refs.tree.getCheckedKeys())
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleCheckChange (data, checked, indeterminate) {
      console.info(this.$refs.tree.getCheckedKeys())
      // console.log(data)
    },
    handleNodeClick (data, node, self) {
      // console.log(node)
    }
  },
  mounted () {
    /* eslint-disable */
    var json = {"roleList":[{"pid":1,"pname":"企业管理","ppid":0,"checked": true
},{"pid":2,"pname":"企业列表","purl":"","ppid":1},{"pid":3,"pname":"授信管理","purl":"","ppid":1},{"pid":4,"pname":"企业平台账号","purl":"","ppid":1},{"pid":5,"pname":"产品管理","ppid":0},{"pid":6,"pname":"合同管理","ppid":0},{"pid":7,"pname":"新建关联","ppid":6},null,{"pid":8,"pname":"合同查询","purl":"","ppid":6},{"pid":9,"pname":"融资管理","purl":"","ppid":0},{"pid":10,"pname":"待审核融资","purl":"","ppid":9},{"pid":12,"pname":"已审核融资","purl":"","ppid":9},{"pid":13,"pname":"放款管理","purl":"","ppid":0},{"pid":14,"pname":"贷后管理","purl":"","ppid":0},{"pid":15,"pname":"还款管理","purl":"","ppid":14},{"pid":16,"pname":"发票冲销","purl":"","ppid":14}]}

    /* eslint-enable */
    var pData = []
    var ppData = []
    var checkedData = []
    var roleList = json.roleList
    roleList.forEach(function (role) {
      if (role == null) {
        return
      }
      if (role.ppid === 0) {
        pData.push(role)    /* 将父节点放到pData中 */
        ppData[role.pid] = [] /* 以父节点ID定义用来存储子节点的空数组ppData */
      } else {
        ppData[role.ppid].push(role) /* 将子节点存到ppData中 */
      }

      if (role.checked) {
        checkedData.push(role.pid)
      }
    })
    console.log(pData)
    console.log(ppData)

    pData.forEach(function (role) {
      role.children = ppData[role.pid]
    })
    this.data = pData
    if (window.location.pathname === '/sms/role/update') {
      this.defaultCheckedKeys = checkedData
      this.action = 'update'
    }
    console.log(this.defaultCheckedKeys)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
