<template>
  <div id="app">
    <top></top>
    <el-row style="height: 100%">
      <el-col :span="4" style="background-color: #324057; height: 100%">
        <left></left>
      </el-col>
      <el-col :span="20">
        <router-view></router-view>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Top from './components/nav/Top'
import Left from './components/nav/Left'

export default {
  name: 'app',
  components: {
    Top,
    Left
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
</style>
