<template>
  <div class="nav-left">
    <el-menu theme="dark" class="el-menu-left" @select="handleSelect">
      <el-menu-item index="1"><router-link tag="li" to="/sms/node">权限管理</router-link></el-menu-item>
      <el-menu-item index="2"><router-link tag="li" to="/sms/role">角色管理</router-link></el-menu-item>
      <el-menu-item index="3"><router-link tag="li" to="/sms/user">用户管理</router-link></el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  name: 'nav-left',
  methods: {
    handleSelect (key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>
<style type="text/css">
html, body {
  height: 100%;
}

</style>