<template>
  <div class="nav-top">
    <el-menu theme="dark" default-active="1" class="el-menu-top" mode="horizontal" @select="handleSelect">
      <el-col :span="17"><div theme="dark" class="grid-content"></div></el-col>
      <el-submenu index="1">
        <template slot="title">站点管理</template>
        <el-menu-item index="1-1">选项1</el-menu-item>
        <el-menu-item index="1-2">选项2</el-menu-item>
        <el-menu-item index="1-3">选项3</el-menu-item>
      </el-submenu>
      <el-menu-item index="2">权限控制</el-menu-item>
      <el-menu-item index="3">退出登录</el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  name: 'nav-top',
  methods: {
    handleSelect (key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>
<style>
.el-menu-top {
  /*padding-left: 50px;*/
}
.el-row {
  &:last-child {
    margin-bottom: 0;
  }
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
</style>